.mat-form-field {
    margin-left: 8px;
}
.actions {
    padding: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.section {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}