<div *ngIf="!patient" class="center-spinner mt-3">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="patient">
  <div class="actions">
    <button *ngIf="formGroup.disabled"
            mat-raised-button
            (click)="changeToEditMode()"
            color="primary">Edit</button>
    <button *ngIf="formGroup.enabled"
            mat-raised-button
            (click)="save()"
            [disabled]="formGroup.invalid"
            color="primary">Save</button>
  </div>
  <form [formGroup]="formGroup">
    <h4>Main Data</h4>
    <div class="main-data">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput
               formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Document Type</mat-label>
        <input matInput
               formControlName="documentType">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Document</mat-label>
        <input matInput
               formControlName="document">
      </mat-form-field>
  
      <div class="radio-field">
        <label id="notification">Notification</label>
        <mat-radio-group
          class="radio-group"
          aria-labelledby="notification"
          aria-label="Notification"
          formControlName="notification">
          <mat-radio-button
            class="radio-button"
            value="email">E-mail</mat-radio-button>
          <mat-radio-button
            class="radio-button"
            value="phone">Phone</mat-radio-button>
        </mat-radio-group>
      </div>
  
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput
               formControlName="email">
      </mat-form-field>
    </div>

    <div class="section">
      Phones
      <button *ngIf="formGroup.enabled"
              mat-stroked-button
              (click)="addPhone()"
              color="primary">Add new phone</button>      
    </div>
    <div formArrayName="phones"
         *ngFor="let phone of phones.controls; let i=index">
      <div [formGroupName]="i">
        <mat-form-field appearance="outline">
        <mat-label>Phone Type</mat-label>
        <input matInput
               formControlName="type">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput
                formControlName="number">
        </mat-form-field>
        <button *ngIf="formGroup.enabled"
                mat-stroked-button
                (click)="removePhoneAt(i)"
                color="primary">Remove phone</button> 
      </div>
    </div>
  </form>
</div>

{{ formGroup.value | json}}
